<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./public/css/bootstrap.min.css">
        <link rel="stylesheet" href="./public/css/custom.css">
        <title>Home Page</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/index.html">
                    <img src="./public/assets/logo/kode-id.png" alt="" height="45">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Catalog</a>
                    </li>
                    </ul>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form> -->
                    <a href="/login.html" class="btn btn-primary">Login</a>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <!-- Body -->
        <div class="container mt-5 my-5">
            <div class="row">
                <div class="card mx-1 my-2" style="width: 17rem;">
                    <img src="./public/assets/content/javascript.jpg" class="card-img py-3" alt="Javacript">
                    <div class="card-body">
                        <a href="/show-content.html"><p style="font-size: 20px;" class="haha"><b>Belajar JavaScript dari Nol Banget</b></p></a>
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 12px;">Hacktiv8 Team</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 12px;">Rp. 300.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-1 my-2" style="width: 17rem;">
                    <img src="./public/assets/content/javascript.jpg" class="card-img py-3" alt="Javacript">
                    <div class="card-body">
                        <p style="font-size: 20px;" ><b>Belajar JavaScript dari Nol Banget</b></p>
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 12px;">Hacktiv8 Team</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 12px;">Rp. 300.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-1 my-2" style="width: 17rem;">
                    <img src="./public/assets/content/javascript.jpg" class="card-img py-3" alt="Javacript">
                    <div class="card-body">
                        <p style="font-size: 20px;" ><b>Belajar JavaScript dari Nol Banget</b></p>
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 12px;">Hacktiv8 Team</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 12px;">Rp. 300.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-1 my-2" style="width: 17rem;">
                    <img src="./public/assets/content/javascript.jpg" class="card-img py-3" alt="Javacript">
                    <div class="card-body">
                        <p style="font-size: 20px;" ><b>Belajar JavaScript dari Nol Banget</b></p>
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 12px;">Hacktiv8 Team</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 12px;">Rp. 300.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-1 my-2" style="width: 17rem;">
                    <img src="./public/assets/content/javascript.jpg" class="card-img py-3" alt="Javacript">
                    <div class="card-body">
                        <p style="font-size: 20px;" ><b>Belajar JavaScript dari Nol Banget</b></p>
                        <div class="row">
                            <div class="col">
                                <p style="font-size: 12px;">Hacktiv8 Team</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 12px;">Rp. 300.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./public/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
