<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./public/css/bootstrap.min.css">
        <link rel="stylesheet" href="./public/css/custom.css">
        <title>Order Payment</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/index.html">
                    <img src="./public/assets/logo/online-learning.png" alt="" height="45">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>My Courses</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Catalog</b></a>
                    </li>
                    </ul>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form> -->
                    <!-- <a href="/login.html" class="btn btn-primary">Login</a> -->
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="container py-5">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-5">
                    <div class="card shadow-lg p-5">
                        <h4 class="text-center mb-3"><b>PAYMENT DETAILS</b></h4>
                        <div class="alert alert-primary">
                            <small>To activate the class you have chosen, please make a payment to the following account number.</small>
                            <small><b>BCA No.Rek: 9897893783</b></small>
                            <hr>
                            <small>Total: <b>Rp. 300.000</b></small>
                        </div>
                        <form>
                            <div class="mb-3">
                                <label for="file" class="form-label">Upload proof of transfer</label>
                                    <input type="file" class="form-control" id="file">
                                </div>
                                <button type="submit" class="btn btn-primary d-block">UPLOAD FILE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="./public/js/bootstrap.bundle.min.js"></script>
    </body>
</html>