<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./public/css/bootstrap.min.css">
        <link rel="stylesheet" href="./public/css/custom.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <title>Home Page</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/index.html">
                    <img src="./public/assets/logo/online-learning.png" alt="" height="45">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>My Courses</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Catalog</b></a>
                    </li>
                    </ul>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form> -->
                    <a href="/login.html" class="btn btn-danger mx-3">LOGIN</a>
                    <a href="/register.html" class="btn btn-danger">REGISTER</a>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <!-- Body -->
        <div class="container-fluid" style="background-color:darkslategrey;">
            <div class="container d-flex pt-5">
                <div class="col-lg-4 m-lg-5">
                    <img src="./public/assets/content/javascript.jpg" class="card-img py-3 img-thumbnail" alt="Javacript">
                    <div class="container py-2">
                        <div class="row d-flex justify-content-lg-between">
                            <div class="col-6">
                                <p style="color: white;"><i class="fas fa-sm fa-user"></i> Hacktiv8 Team</p>
                            </div>
                            <div class="col-6 text-end">
                                <p style="color: white;"><i class="fas fa-sm fa-clock"></i> 120 Menit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col py-5">
                    <h1 style="color: white;"><b>Belajar JavaScript dari Nol Banget</b></h1>
                    <hr style="color: white; height: 2px;">
                    <h2 style="color: white;"><b>Rp. 300.000</b></h2>
                    <br/>
                    <a href="/order.html" class="btn btn-lg btn-danger"><b>Beli Sekarang</b></a>
                </div>
                
            </div>
        </div>
        <div class="container py-5 mb-5">
            <div class="row justify-content-lg-center">
                <h1 class="text-center py-2 mb-2"><b>Kurikulum Course</b></h1>
                <p class="text-center mb-5">The following is a list of materials that you will take in this class. So you will easily understand it.</p>
                <div class="card mt-3" style="width: 50rem;">
                    <div class="container mt-4 mb-3">
                        <h5><i class="far fa-play-circle"></i>  Setup Semua Yang Dibutuhkan</h5>
                    </div>
                </div>
                <div class="card mt-3" style="width: 50rem;">
                    <div class="container mt-4 mb-3">
                        <h5><i class="far fa-play-circle"></i>  Setup Semua Yang Dibutuhkan</h5>
                    </div>
                </div>
                <div class="card mt-3" style="width: 50rem;">
                    <div class="container mt-4 mb-3">
                        <h5><i class="far fa-play-circle"></i>  Setup Semua Yang Dibutuhkan</h5>
                    </div>
                </div>
                <div class="card mt-3" style="width: 50rem;">
                    <div class="container mt-4 mb-3">
                        <h5><i class="far fa-play-circle"></i>  Setup Semua Yang Dibutuhkan</h5>
                    </div>
                </div>
            </div>
        </div>
        <script src="./public/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
